* text=auto

*.cpp  text eol=lf
*.h    text eol=lf
*.cs   text eol=lf
*.uproject text eol=lf

*.uasset binary
*.umap   binary
*.png    binary
*.jpg    binary
*.bmp    binary
*.tga    binary
*.fbx    binary
*.dll    binary
*.exe    binary
*.lib    binary
*.pdb    binary